body{
    margin: 0;
    font-family: "times new roman";
    background: #f2f2f2 ;

}

.container {
    width: 350px;
    margin: 100px auto;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 8px;

    box-shadow: 0px 0px 15px black;
    text-align: center;
}

.title{
    margin-bottom: 20px;
}

.form{
    text-align: center;
}

.label{
    display: block;
    margin: 10px;
}

.input{
    width: 100px;
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
}

.btn{
    display: block;
    width: 50%;
    margin: 20px auto;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.text{
    color: #4caf50;
    text-decoration: dashed;
    
}

.link{
    color: #4caf50;
    text-decoration: none;
}